modules = ["python-3.10", "postgresql-16"]

# 运行命令
run = "uvicorn app.main:app --host=0.0.0.0 --port 3000"

# 部署配置
[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 3000"]

# 监听端口
[[ports]]
localPort = 3000
externalPort = 80  

[objectStorage]
defaultBucketID = "replit-objstore-3288b7bf-1a77-4294-9110-12d53a8510b8"
